- for everything styling related, ALWAYS look at src/styles directory. Many issues are probably caused by not using the defined styles there or not importing them....
- prefer a solutin to a bug that removes code over one that adds code.